@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body#login{
    background: #F8E4DF;
    }

body#dash{
        background:white;
        }
      
.details{
    background:white;
    text-align: center;
    padding:100px;
    height:350px;
    width:450px;
    margin: 50px auto;
    border-style: solid;
    font-family: 'Comfortaa', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.logo{
    width: auto;
    height: auto;
    float: none;
}

input{
    height:35px;
    width:350px;  
    
}

#button {
    width: 127px;
    height: 39px;
	padding: 0px 10px 0px 10px;
	background: #dcadac;
	color: #231f20;
	border-color:black;
	border-width: 1px;
	border-style: solid;
	border-radius: 24px 24px 24px 24px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

#email{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#pwd{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.sidebar{
    position: fixed;
    width: 300px;
    top:0;
    left: 0;
    bottom: 0;
    background: #F8E4DF;
    padding-top: 50px;
    border: solid 1px black;
    padding-top: 20px;
 }
 
 .sidebar h1{
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
    font-size: 25px;
 
 }
 .sidebar a{
    display: block;
    padding: 10px 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;;
    letter-spacing: 2px;
    border: solid 1px black;
    padding-top: 20px;
 }
 
 .sidebar a:hover{
    color: #fff;
    background-color: lightgray;
    margin-left: 20px;
    transition: 0.4s;
 }
 
 .text b{
    text-align: right;
    font-family: 'Montserrat', sans-serif;;
 }
 
 .orders{
    padding: 50px;
    width: 100%;
    margin-left: 300px;
    position: relative;
 }
 
 .billing{
    padding: 50px;
    width: 100%;
    margin-left: 300px;
    position: relative;
 }

 table, th, td {
    border: 1.5px solid black;
    border-collapse:collapse;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
th{
    background-color:#dcadac;
    font-weight: bold;
}
th,td{
    padding:10px;
}
  