<div class="box">
  <div class="col-mx">
    <a href="/login"> 
      <img id="Logo" src="../images/logo.png" alt="logo"  width="250" height="200" class="alogo">
    </a>
  </div>
  <div class="col-mx">
    <ul>
      <li><a href="/cart">Cart </a></li>     
      <li><a href="/contactus">Contact Us </a></li>
      <li><a href="/aboutus">About Us </a></li>  
      <li class="outer">
        <a href="/products">Products</a> 
          <ul class="droppdown">
            <% category.forEach(function(category){ %>
              <li><a href="/products/<%= category.cat_id %>"+><%= category.name %></a></li>
            <% }); %>
          </ul>
      </li>
      <li><a href="/">Home </a></li>
    </ul>
  </div>
</div>