<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled by Nice HOME</title>
    <link rel="stylesheet" href="../css/Main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="../app.js"></script>


</head>
<body>

 <div class="container-lg">
   <%- include('header.ejs') -%>
   <div class="box bg-right">
     <div class="p-2">
       <center>
       <p class ="p1">About us</p>
       <hr class="hl1">
       <p class ="p12">The brand is fairly new, it officially launched last July 24, 2020. Truth be told, 
       the business was brought by the pandemic. Styled By Nice is a fashion styling business which focuses on engagement/prenup shoots.</p>
       </center>
     </div>  
   </div>
   <br>
   <div class="box">
    <div class="col-2">
      </div>
     <div class="col-4">
       <p class="pvision">Vision</p>
       <p class="pvisionS">To be able to give jobs and opportunities to people here in the Philippines with this business. Started doing this by currently partnering with local potters and artists to craft some of our products. Eventually, the goal is for all home decors of Styled By Nice HOME to be crafted and produced locally, to show that Filipinos can do it too, if not better.﻿</p>
     </div>
     <div class="col-2">
       <p class="pmission">Mission</p>
       <p class="pmissionS">The Business started as a buy & sell business, importing products locally and internationally. The ultimate goal of having everything in Styled By Nice HOME locally made. ﻿</p>
     </div>
   </div>
 </div>
</body>
</html>