.alogo:link, .alogo:visited {
    height: 200px;
    width: 250px;
    background-color: white;
    padding: 0px;
    position:relative; 
    left:70px; 
    bottom:20px;
}

ul {
	border: 2px solid black;
	padding-left: 0;
    float: right;
    position: absolute; 
    right: 5%; 
    top : 9%;
	border-radius: 5px 5px 5px 5px;
	list-style: none;
} 
ul li {	
    position:relative;
	border-right:solid 2px black;
	float: right;
}
ul li a:link, ul li a:visited {
    display: block;
    width: 150px;
    color: black;
    background-color: #dcadac;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-family: "Comfortaa";
	font-weight: 400;
	font-size: 18px;
    text-align: center;   
}
ul li a:hover, ul li a:active {
    background-color: #efd9d1;
}
li:hover {
    cursor: pointer;
}

.outer {
	position: relative;
  	display: inline-block;
}
.droppdown {
	display: none;
  	position: absolute;
  	background-color: #dcadac;
  	min-width: 100px;
	z-index: 1;
	margin-top: 32px;
	margin-right: -13px;
}

.droppdown li{
	color: #dcadac;
	display: block;
}
   
.outer:hover .droppdown {
	display: block;
}

.apic:link, .apic:visited {
    width: 200px;
    height: 121px;
    background-color: white;
	padding: 10px;
}

.apic1:link, .apic1:visited {
    width: 200px;
    height: 121px;
    background-color: white;
    padding: 10px;
}

.apic2:link, .apic2:visited {
    height: 121px;
    width: 200px;
    background-color: white;
    padding: 10px; 
}

.apic3:link, .apic3:visited {
    width: 200px;
    height: 121px;
    background-color: white;
    padding: 10px; 
}

/* style by nice home */
.pheading {
	color: #000000;
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 60px;
    text-align: left;
    position:relative;
    justify-content: center;
}

.pheading2 {
	color: #000000;
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 60px;
    text-align: left;
    justify-content: center;
}

.pheading3 {
	color: #000000;
	font-family: "Montserrat";
	font-size: 24px;
    text-align: left;
    position:relative;
    justify-content: center;
}


.pheading4 {
	color: #000000;
	font-family: "Montserrat";
	font-size: 24px;
    text-align: left;
    position:relative;
    justify-content: center;
}

/* learn more */
.button1{
	width: 180px;
	height: 45px;
	padding: 0px 10px 0px 10px;
	background: #efd9d1;
	color: #232323;
	border-color: #efd9d1;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
	font-family: "Comfortaa";
	font-weight: bold;
	font-size: 18px;
    text-align: center;
    position: relative;
	justify-items: center;
	cursor: pointer;
}
@media (min-width: 768px) {
    .box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
}
#rectangle {
	width: 100%;
	height: 100%;
	background: #efd9d1;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

.mx-auto {
	width: 100%;
	height: 100%;
	background: #efd9d1;
	border-color: #000000;
	border-width: 1px;
    border-style: solid;
    padding-top: 30px;
    padding-bottom: 50px;
}

#hl {
	width: 96px;
	height: 1px;
	border-color: #dcadac;
	border-width: 5px;
	border-style: solid;
	background-color: #dcadac;
}

body#cu {
	font-family: Montserrat;
	text-align: center;
	font-weight: bold;
}

#pcu {
	font-size: 18px;
	line-height: 1.3px;
	white-space: normal;
    display: block;
    padding-top: 15px;
}

#p {
    font-size: 25px;
	margin-top: 18px;
	margin-left: 40px;	
}
#p2
{
	font-size: 25px;
	margin-left: 40px;
}
.clearfix {
    overflow: hidden;
	top:50px;
}
/*contact us */

#fb {
	width: 79px;
	height: 79px;
}

#ig {
	width: 79px;
	height: 79px;
}

/* about us */
.p1 {
	color: #232323;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 50px;
	margin-top: 5px;	
}
  /* Line */
.hl1 {
	width: 150px;
	height: 3px;
	background-color: #dcadac;
	border-color:#dcadac;
	border-style: solid;
}

.pvision {
	width: 145px;
	height: 63px;
	color: #232323;
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 45px;
    text-align: left;
}

.pvisionS {
	width: 442px;
	height: 270px;
	color: #000000;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	text-align: justify;
}

.pmission {
	width: 145px;
	height: 63px;
	color: #232323;
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 45px;
    text-align: left;
}

.pmissionS {
	width: 442px;
	height: 270px;
	color: #000000;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	text-align: justify;
}

  /*background pink */
  .bg-right {
	background-color: #efd9d1;
  }
 /* about us words */
.p12 {
	
	height: px;
	color: #232323;
	font-family: "Comfortaa";
	font-size: 25px;
	text-align: center;
}

#container-field img {
	width: 270px;
	height: 220px;
}

.container-field1 img {
	width: 250px;
	height: 250px;
}


#title {
	width: 500px;
	height: 63px;
	color: #232323;
	font-family: "Comfortaa";
	font-weight: bold;
	font-size: 30px;

}
.name {
	height: 63px;
	color: #232323;
	font-family: "Comfortaa";
	font-weight: bold;
	font-size: 23px;
	margin-top: 5%;
}

body#bi{
    background-color: #efd9d1;
    color: #232323;
	font-family: Montserrat;
    
}

.price {
	height: 63px;
	color: #232323;
	font-family: "Comfortaa";
	font-weight: bold;
	font-size: 23px;
    text-align: auto;
	position: relative;
	margin-top: -5%;
}
.addtocart:link,.addtocart:visited{
	width: 180px;
	height: 45px;
	padding: 10px 10px 10px 10px;
	background: #dcadac;
	color: #232323;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px 12px 12px 12px;
	font-family: "Comfortaa";
	font-weight: bold;
	font-size: 20px;
	position: relative;
	margin-top: -5%;
	text-decoration: none;
}

.img-responsive{
	border-radius: 15px 15px 15px 15px;
}

.prodrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  
  /* Create four equal columns that sits next to each other */
  .prodcolumn {
    flex: 25%;
    max-width: 25%;
    padding: 15px;
  }

  #billinfo {
    width: 791px;
    height: 492px;
    background: #ffffff;
    border-color: #dcadac;
    border-width: 7px;
    border-style: solid;
	border-radius: 7px 7px 7px 7px;


}
input#name, input#ci,input#address, input#email, input#dp {
	margin-top: 20px;
	padding: 4px 8px 4px 8px;
	background: #ffffff;
	color: #7c7c7c;
	border-color: #232323;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}

#l1,#l2,#l3 {
    white-space: pre-wrap;
    
}
#submit {
    width: 127px;
    height: 39px;
	padding: 0px 10px 0px 10px;
	background: #dcadac;
	color: #231f20;
	border-color: #e6e6e6;
	border-width: 1px;
	border-style: solid;
	border-radius: 24px 24px 24px 24px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

#div1, #div2{
    margin-left: 90px;
}


#ci {
    margin-left: 40px;
}
